.container_a_propos{
    padding-left: 23.8vw;
}
.block_propos_quoi_mobile_image{
    display: grid;
    grid-template-columns:10% 1fr 1fr 10%;
    grid-template-rows: 1fr 2fr;
    padding-top: 1rem;
    margin-bottom: 4rem;
}
.block_propos_quoi,.block_poulaillers_mobiles_image{
    grid-column: 2/4;
}
.block_propos_quoi{
    grid-row: 1;
    justify-content:center ;
}
.block_poulaillers_mobiles_image{
    grid-row: 2;
    display: grid;
    margin-top: 4rem;
    grid-template-columns: 1fr 10% 1fr;
    align-items: center;
}
.title_propos_quoi{
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    color: #B2422D;
}
.block_paragraphe_propos_quoi{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.paragraphe_propos_quoi{
    font-size: 18px;
    text-align: center;
}
.image_poulaillers_mobiles{
    grid-column: 3/4;
    height: 15rem;
    object-fit: cover;
}
.block_poulaillers_mobiles{
    /* margin: 2rem 0rem ; */
}
.title_poulaillers_mobiles{
    text-transform: uppercase;
    color: #B2422D;
    font-size: 25px;
    font-weight: 600;
    /* margin: 1rem 0rem; */
}
.explication_poulaillers_mobiles{
    width: 25vw;
    font-size: 20px;
    margin: 1.5rem 0rem;
}
.grille_image_poulaillers_grand_angle{
    display: grid;
    grid-template-columns:10% 1fr 1fr 10%;
    height: 400px;
}
.image_poulaillers_grand_angle{
    grid-column: 2/4;
    width: 100%;
    height: 20rem;
    object-fit: cover;
}
.container_elevage{
    display: grid;
    grid-template-columns:10% 1fr 10% 1fr ;
    margin-top: 8rem;
}
.block_elevage{
    grid-column: 2/3;
}
.title_elevage{
    color: #B2422D;
    font-size: 40px;
    text-transform: uppercase;
}
.raison_bio , .premier_raison , .explication_premiere_raison , .deuxieme_raison , .explication_deuxieme_raison{
    margin: 2rem 0rem;
}
.premier_raison , .deuxieme_raison{
    font-style: italic;
    font-weight: 300;
    color: #B2422D;
}

/* block coucous de malines */
.block_coucous{
    grid-column: 4/5;
    background-color: #B2422D;
    color: white;
}
.image_coucous{
    width: 100%;
    height: 15rem;
    object-fit: contain;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.title_coucous{
    font-size: 25px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding: 2rem 2rem;
}
.explication_coucous{
    padding: 2rem 2rem;
    text-align: justify;
}

/* responsive */
@media screen and (min-width: 1400px) and (max-width: 1800px){
    .container_a_propos{
        padding-left: 25rem;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1400px){
    .container_a_propos{
        padding-left: 20rem;
    }
    .image_poulaillers_mobiles{
        height: 12.5rem;
        width: 100%;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1200px){
    .container_a_propos{
        padding-left: 18rem;
    }
    .block_propos_quoi_mobile_image{
        grid-template-rows: 1fr 2fr;
    }
    .block_poulaillers_mobiles_image{
        display: grid;
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: 1fr 1fr;
        margin: 0;
    }
    .block_poulaillers_mobiles{
        width: 100%;
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .title_poulaillers_mobiles{
        text-align: center;
    }
    .explication_poulaillers_mobiles{
        width: 100%;
    }
    .image_poulaillers_mobiles{
        width: 100%;
        grid-row: 1;
        grid-column: span 3;
    }
    .paragraphe_propos_quoi{
        text-align: justify;
    }
    .grille_image_poulaillers_grand_angle{
        height: 20rem;
    }
}
@media screen and (min-width: 800px) and (max-width: 1000px){
    .container_a_propos{
        padding-left: 15rem;
    }
    .image_poulaillers_mobiles{
        width: 100%;
    }
    .block_propos_quoi_mobile_image{
        grid-template-rows: 1fr 2fr;
    }
    .block_poulaillers_mobiles_image{
        display: grid;
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: 1fr 1fr;
        margin: 0;
    }
    .block_poulaillers_mobiles{
        width: 100%;
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .title_poulaillers_mobiles{
        text-align: center;
    }
    .explication_poulaillers_mobiles{
        width: 100%;
    }
    .image_poulaillers_mobiles{
        width: 100%;
        grid-row: 1;
        grid-column: span 3;
    }
    .paragraphe_propos_quoi{
        text-align: justify;
    }
    .grille_image_poulaillers_grand_angle{
        height: 20rem;
    }
}
@media screen and (min-width: 600px) and (max-width: 800px){
    .container_a_propos{
        padding-left: 5rem;
    }
    .image_poulaillers_mobiles{
        width: 100%;
    }
    .block_propos_quoi_mobile_image{
        grid-template-rows: 1fr 2fr;
    }
    .block_poulaillers_mobiles_image{
        display: grid;
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: 1fr 1fr;
        margin: 0;
    }
    .block_poulaillers_mobiles{
        width: 100%;
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .title_poulaillers_mobiles{
        text-align: center;
    }
    .explication_poulaillers_mobiles{
        width: 100%;
    }
    .image_poulaillers_mobiles{
        width: 100%;
        grid-row: 1;
        grid-column: span 3;
    }
    .paragraphe_propos_quoi{
        text-align: justify;
    }
    .grille_image_poulaillers_grand_angle{
        height: 15rem;
    }
}
@media screen and (min-width:430px) and (max-width:600px){
    .container_a_propos{
        padding-left: 5rem;
    }
    .title_propos_quoi{
        font-size: 40px;
    }
    .image_poulaillers_mobiles{
        width: 100%;
    }
    .block_propos_quoi_mobile_image{
        grid-template-rows: 1fr 2fr;
    }
    .block_poulaillers_mobiles_image{
        display: grid;
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: 1fr 1fr;
        margin: 0;
    }
    .block_poulaillers_mobiles{
        width: 100%;
        grid-row: 2/3;
        grid-column: span 3;
    }
    .title_poulaillers_mobiles{
        text-align: center;
    }
    .explication_poulaillers_mobiles{
        width: 100%;
    }
    .image_poulaillers_mobiles{
        width: 100%;
        grid-row: 1;
        grid-column: span 3;
    }
    .paragraphe_propos_quoi{
        text-align: justify;
    }
    .grille_image_poulaillers_grand_angle{
        height: 20rem;
    }
    .container_elevage{
        display: grid;
        grid-template-columns:10% 1fr 10%;
        grid-row: 1fr 1fr;
    }
    .block_elevage{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .block_coucous{
        grid-column: 2/3;
        grid-row: 2/3;
    }
}
@media screen and (min-width:350px) and (max-width:430px) {
    .container_a_propos{
        padding-left: 5rem;
    }
    .title_propos_quoi{
        font-size: 40px;
    }
    .image_poulaillers_mobiles{
        width: 100%;
    }
    .block_propos_quoi_mobile_image{
        grid-template-rows: 1fr 2fr;
    }
    .block_poulaillers_mobiles_image{
        display: grid;
        grid-template-columns: 5% 1fr 5%;
        grid-template-rows: 1fr 1fr;
        margin: 0;
    }
    .block_poulaillers_mobiles{
        width: 100%;
        grid-row: 2/3;
        grid-column: span 3;
    }
    .title_poulaillers_mobiles{
        text-align: center;
    }
    .explication_poulaillers_mobiles{
        width: 100%;
    }
    .image_poulaillers_mobiles{
        width: 100%;
        grid-row: 1;
        grid-column: span 3;
    }
    .paragraphe_propos_quoi{
        text-align: justify;
    }
    .grille_image_poulaillers_grand_angle{
        height: 20rem;
    }
    .container_elevage{
        display: grid;
        grid-template-columns: 5% 1fr 5%;
        grid-row: 1fr 1fr;
    }
    .title_elevage{
        font-size: 35px;
        text-align: center;
    }
    .block_elevage{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .block_coucous{
        grid-column: 2/3;
        grid-row: 2/3;
    } 
}